{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlet Approval</title>

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/PC/themify-icons.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="app">
        <div class="container-home">
            <!-- Header Home -->
            <div class="row header-home">
                <div class="logo">
                    <a href=""><img src="{% static '/PC/img/logo_hnk.png' %}" alt="logo"></a>
                </div>
                <div class="navbar" id="topheader">
                    {% if not request.user.is_agency %}
                    <ul class="navbar-nav">
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'outlet-approval' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>

                        </li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                    </ul>
                    {% endif %} {% if request.user.is_agency %}
                    <ul class="navbar-nav">
                        {% if cam_id == 1%}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'outlet-approval' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>

                        </li>
                        {% endif %} {% if cam_id == 2 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        {% endif %} {% if cam_id == 3 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        {% endif %} {% if cam_id == 4 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        {% endif %} {% if cam_id == 5 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        {% endif %} {% if cam_id == 6 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        {% endif %} {% if cam_id == 7 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        {% endif %} {% if cam_id == 8 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        {% endif %} {% if cam_id == 9 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'outlet-approval' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </div>
                <div class="profile-user dropdown-logout">
                    <a href="#" class="user-img" onclick="openTigerTp()">
                        <img src="{% static '/PC/img/Power-01.ico' %}" alt="avatar" class="avatar-user">
                    </a>
                    <ul class="dropdown-menu_logout">
                        <li class="nav-sub"><a href="{% url 'passwordchangeHVN' %}">Đổi mật khẩu</a></li>
                        <li class="nav-sub"><a href="{% url 'logoutHVN' %}"><i class="ti-shift-left"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            <div class="row raw-data">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><i class='bx bx-menu'></i> </button>
                    <span class="title-menu">Management</span>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'dashboard' cam_id %}">Dashboard</a></li>
                        <li class="nav-sub"><a href="{% url 'raw-data' cam_id  %}">Raw data</a></li>
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Management</a></li>
                        <li class="nav-sub"><a href="{% url 'export-report' cam_id  %}">Export report</a></li>
                    </ul>
                </div>


            </div>
            <div class="row raw-data-sub">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><span class="title-menu">Outlet Approval</span> </button>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Outlet Information</a></li>
                        <li class="nav-sub"><a href="{% url 'outlet-approval' cam_id  %}">Outlet approval</a></li>
                        <li class="nav-sub"><a href="{% url 'kpi' cam_id  %}">KPI Tracking</a></li>
                        <li class="nav-sub"><a href="{% url 'sp-info' cam_id  %}">SP Information</a></li>
                    </ul>
                </div>
                {% comment %}
                <div class="rightbox">
                    <div class="lock-icon">
                        <i class='bx bxs-lock-alt'></i> <span>Unlock to change</span>
                    </div>
                </div> {% endcomment %}

            </div>

            <!-- Main Home-->

            <div class="main-table_managenment" style="padding-top: 225px;">
                <div class="table-outlet">
                    <table style="width:100%" class="table-list">

                        <tr>
                            <th rowspan="2" class="td-title ">No.</th>
                            <th rowspan="2" class="td-title ">Created</th>
                            <th rowspan="2" class="td-title ">
                                <input type="hidden" id="url" value="{% url 'edit_outlet_approval' cam_id %}">
                                <a href="{% url 'edit_outlet_approval' cam_id %}?province_filter={{province_filter}}" id="filter_province">
                                    PROVINCE
                                <i class='bx bxs-sort-alt'></i>
                                </a>
                                <br>
                                <select name="" id="local-city">
                                    <option value="">Tỉnh/Thành</option>
                                    <option value="An Giang"
                                    {% if province == "An Giang" %}
                                        selected
                                    {% endif %}
                                    >An Giang</option>
                                    <option value="Bà Rịa - Vũng Tàu"
                                    {% if province == "Bà Rịa - Vũng Tàu" %}
                                        selected
                                    {% endif %}
                                    >Bà Rịa - Vũng Tàu</option>
                                    <option value="Bạc Liêu"
                                    {% if province == "Bạc Liêu" %}
                                        selected
                                    {% endif %}
                                    >Bạc Liêu</option>
                                    <option value="Bắc Kạn"
                                    {% if province == "Bắc Kạn" %}
                                        selected
                                    {% endif %}
                                    >Bắc Kạn</option>
                                    <option value="Bắc Giang"
                                    {% if province == "Bắc Giang" %}
                                        selected
                                    {% endif %}
                                    >Bắc Giang</option>
                                    <option value="Bắc Ninh"
                                    {% if province == "Bắc Ninh" %}
                                        selected
                                    {% endif %}
                                    >Bắc Ninh</option>
                                    <option value="Bến Tre"
                                    {% if province == "Bến Tre" %}
                                        selected
                                    {% endif %}
                                    >Bến Tre</option>
                                    <option value="Bình Dương"
                                    {% if province == "Bình Dương" %}
                                        selected
                                    {% endif %}
                                    >Bình Dương</option>
                                    <option value="Bình Định"
                                    {% if province == "Bình Định" %}
                                        selected
                                    {% endif %}
                                    >Bình Định</option>
                                    <option value="Bình Phước"
                                    {% if province == "Bình Phước" %}
                                        selected
                                    {% endif %}
                                    >Bình Phước</option>
                                    <option value="Bình Thuận"
                                    {% if province == "Bình Thuận" %}
                                        selected
                                    {% endif %}
                                    >Bình Thuận</option>
                                    <option value="Cà Mau"
                                    {% if province == "Cà Mau" %}
                                        selected
                                    {% endif %}
                                    >Cà Mau</option>
                                    <option value="Cao Bằng"
                                    {% if province == "Cao Bằng" %}
                                        selected
                                    {% endif %}
                                    >Cao Bằng</option>
                                    <option value="Cần Thơ"
                                    {% if province == "Cần Thơ" %}
                                        selected
                                    {% endif %}
                                    >Cần Thơ</option>
                                    <option value="Đà Nẵng"
                                    {% if province == "Đà Nẵng" %}
                                        selected
                                    {% endif %}
                                    >Đà Nẵng</option>
                                    <option value="Đắk Lắk"
                                    {% if province == "Đắk Lắk" %}
                                        selected
                                    {% endif %}
                                    >Đắk Lắk</option>
                                    <option value="Đắk Nông"
                                    {% if province == "Đắk Nông" %}
                                        selected
                                    {% endif %}
                                    >Đắk Nông</option>
                                    <option value="Đồng Nai"
                                    {% if province == "Đồng Nai" %}
                                        selected
                                    {% endif %}
                                    >Đồng Nai</option>
                                    <option value="Đồng Tháp"
                                    {% if province == "Đồng Tháp" %}
                                        selected
                                    {% endif %}
                                    >Đồng Tháp</option>
                                    <option value="Điện Biên"
                                    {% if province == "Điện Biên" %}
                                        selected
                                    {% endif %}
                                    >Điện Biên</option>
                                    <option value="Gia Lai"
                                    {% if province == "Gia Lai" %}
                                        selected
                                    {% endif %}
                                    >Gia Lai</option>
                                    <option value="Hà Giang"
                                    {% if province == "Hà Giang" %}
                                        selected
                                    {% endif %}
                                    >Hà Giang</option>
                                    <option value="Hà Nam"
                                    {% if province == "Hà Nam" %}
                                        selected
                                    {% endif %}
                                    >Hà Nam</option>
                                    <option value="Hà Nội"
                                    {% if province == "Hà Nội" %}
                                        selected
                                    {% endif %}
                                    >Hà Nội</option>
                                    <option value="Hà Tĩnh"
                                    {% if province == "Hà Tĩnh" %}
                                        selected
                                    {% endif %}
                                    >Hà Tĩnh</option>
                                    <option value="Hải Dương"
                                    {% if province == "Hải Dương" %}
                                        selected
                                    {% endif %}
                                    >Hải Dương</option>
                                    <option value="Hải Phòng"
                                    {% if province == "Hải Phòng" %}
                                        selected
                                    {% endif %}
                                    >Hải Phòng</option>
                                    <option value="Hòa Bình"
                                    {% if province == "Hòa Bình" %}
                                        selected
                                    {% endif %}
                                    >Hòa Bình</option>
                                    <option value="Hậu Giang"
                                    {% if province == "Hậu Giang" %}
                                        selected
                                    {% endif %}
                                    >Hậu Giang</option>
                                    <option value="Hưng Yên"
                                    {% if province == "Hưng Yên" %}
                                        selected
                                    {% endif %}
                                    >Hưng Yên</option>
                                    <option value="Hồ Chí Minh"
                                    {% if province == "Hồ Chí Minh" %}
                                        selected
                                    {% endif %}
                                    >Hồ Chí Minh</option>
                                    <option value="Khánh Hòa"
                                    {% if province == "Khánh Hòa" %}
                                        selected
                                    {% endif %}
                                    >Khánh Hòa</option>
                                    <option value="Kiên Giang"
                                    {% if province == "Kiên Giang" %}
                                        selected
                                    {% endif %}
                                    >Kiên Giang</option>
                                    <option value="Kon Tum"
                                    {% if province == "Kon Tum" %}
                                        selected
                                    {% endif %}
                                    >Kon Tum</option>
                                    <option value="Lai Châu"
                                    {% if province == "Lai Châu" %}
                                        selected
                                    {% endif %}
                                    >Lai Châu</option>
                                    <option value="Lào Cai"
                                    {% if province == "Lào Cai" %}
                                        selected
                                    {% endif %}
                                    >Lào Cai</option>
                                    <option value="Lạng Sơn"
                                    {% if province == "Lạng Sơn" %}
                                        selected
                                    {% endif %}
                                    >Lạng Sơn</option>
                                    <option value="Lâm Đồng"
                                    {% if province == "Lâm Đồng" %}
                                        selected
                                    {% endif %}
                                    >Lâm Đồng</option>
                                    <option value="Long An"
                                    {% if province == "Long An" %}
                                        selected
                                    {% endif %}
                                    >Long An</option>
                                    <option value="Nam Định"
                                    {% if province == "Nam Định" %}
                                        selected
                                    {% endif %}
                                    >Nam Định</option>
                                    <option value="Nghệ An"
                                    {% if province == "Nghệ An" %}
                                        selected
                                    {% endif %}
                                    >Nghệ An</option>
                                    <option value="Ninh Bình"
                                    {% if province == "Ninh Bình" %}
                                        selected
                                    {% endif %}
                                    >Ninh Bình</option>
                                    <option value="Ninh Thuận"
                                    {% if province == "Ninh Thuận" %}
                                        selected
                                    {% endif %}
                                    >Ninh Thuận</option>
                                    <option value="Phú Thọ"
                                    {% if province == "Phú Thọ" %}
                                        selected
                                    {% endif %}
                                    >Phú Thọ</option>
                                    <option value="Phú Yên"
                                    {% if province == "Phú Yên" %}
                                        selected
                                    {% endif %}
                                    >Phú Yên</option>
                                    <option value="Quảng Bình"
                                    {% if province == "Quảng Bình" %}
                                        selected
                                    {% endif %}
                                    >Quảng Bình</option>
                                    <option value="Quảng Nam"
                                    {% if province == "Quảng Nam" %}
                                        selected
                                    {% endif %}
                                    >Quảng Nam</option>
                                    <option value="Quảng Ngãi"
                                    {% if province == "Quảng Ngãi" %}
                                        selected
                                    {% endif %}
                                    >Quảng Ngãi</option>
                                    <option value="Quảng Ninh"
                                    {% if province == "Quảng Ninh" %}
                                        selected
                                    {% endif %}
                                    >Quảng Ninh</option>
                                    <option value="Quảng Trị"
                                    {% if province == "Quảng Trị" %}
                                        selected
                                    {% endif %}
                                    >Quảng Trị</option>
                                    <option value="Sóc Trăng"
                                    {% if province == "Sóc Trăng" %}
                                        selected
                                    {% endif %}
                                    >Sóc Trăng</option>
                                    <option value="Sơn La"
                                    {% if province == "Sơn La" %}
                                        selected
                                    {% endif %}
                                    >Sơn La</option>
                                    <option value="Tây Ninh"
                                    {% if province == "Tây Ninh" %}
                                        selected
                                    {% endif %}
                                    >Tây Ninh</option>
                                    <option value="Thái Bình"
                                    {% if province == "Thái Bình" %}
                                        selected
                                    {% endif %}
                                    >Thái Bình</option>
                                    <option value="Thái Nguyên"
                                    {% if province == "Thái Nguyên" %}
                                        selected
                                    {% endif %}
                                    >Thái Nguyên</option>
                                    <option value="Thanh Hóa"
                                    {% if province == "Thanh Hóa" %}
                                        selected
                                    {% endif %}
                                    >Thanh Hóa</option>
                                    <option value="Huế"
                                    {% if province == "Huế" %}
                                        selected
                                    {% endif %}
                                    >Huế</option>
                                    <option value="Tiền Giang"
                                    {% if province == "Tiền Giang" %}
                                        selected
                                    {% endif %}
                                    >Tiền Giang</option>
                                    <option value="Trà Vinh"
                                    {% if province == "Trà Vinh" %}
                                        selected
                                    {% endif %}
                                    >Trà Vinh</option>
                                    <option value="Tuyên Quang"
                                    {% if province == "Tuyên Quang" %}
                                        selected
                                    {% endif %}
                                    >Tuyên Quang</option>
                                    <option value="Vĩnh Long"
                                    {% if province == "Vĩnh Long" %}
                                        selected
                                    {% endif %}
                                    >Vĩnh Long</option>
                                    <option value="Vĩnh Phúc"
                                    {% if province == "Vĩnh Phúc" %}
                                        selected
                                    {% endif %}
                                    >Vĩnh Phúc</option>
                                    <option value="Yên Bái"
                                    {% if province == "Yên Bái" %}
                                        selected
                                    {% endif %}
                                    >Yên Bái</option>
                                </select> {% comment %} <i class='bx bx-search-alt-2 icon-search'></i> {% endcomment %}
                            </th>
                            <th rowspan="2" class="td-title ">
                                <a href="{% url 'edit_outlet_approval' cam_id %}?outlet_id={{outletid_filter}}" id="outlet_id_filter"><i class='bx bx-search-alt-2 icon-search' ></i></a> OUTLET ID <br>
                                <input class="td-search" value='{{outlet_id}}' id='outlet-id'>

                            </th>
                            <th rowspan="2" class="td-title ">
                                <a href="{% url 'edit_outlet_approval' cam_id %}?type={{type_filter}}" id="filter_type">
                                    Type
                                <i class='bx bxs-sort-alt'></i>
                                </a>
                                <br>
                                <select name="" id="type-outlet">
                                        <option value="">Loại Oulet:</option>
                                        <option value="QN"
                                        {% if type == "QN" %}
                                        selected
                                        {% endif %}
                                        >QN</option>
                                        <option value="GSO"
                                        {% if type == "GSO" %}
                                        selected
                                        {% endif %}
                                        >GSO</option>
                                        <option value="YSO"
                                        {% if type == "YSO" %}
                                        selected
                                        {% endif %}
                                        >YSO</option>
                                        <option value="QA"
                                        {% if type == "QA" %}
                                        selected
                                        {% endif %}
                                        >QA</option>

                                        <option value="HZ"
                                        {% if type == "HZ" %}
                                        selected
                                        {% endif %}
                                        >HZ</option>

                                        <option value="KRK"
                                        {% if type == "KRK" %}
                                        selected
                                        {% endif %}
                                        >KRK</option>
                                        <option value="BC"
                                        {% if type == "BC" %}
                                        selected
                                        {% endif %}
                                        >BC</option>
                                        <option value="SB"
                                        {% if type == "SB" %}
                                        selected
                                        {% endif %}
                                        >SB</option>
                                        <option value="RTR"
                                        {% if type == "RTR" %}
                                        selected
                                        {% endif %}
                                        >RTR</option>
                                        <option value="BH"
                                        {% if type == "BH" %}
                                        selected
                                        {% endif %}
                                        >BH</option>
                                    </select>
                            </th>
                            <th rowspan="2" class="td-title  dropdown">
                                AREA<br>

                            </th>
                            <th rowspan="2" class="td-title  dropdown">
                                <a href="{% url 'edit_outlet_approval' cam_id %}?outlet_name={{outlet_name_filter}}" id="outlet_name_filter"><i class='bx bx-search-alt-2 icon-search' ></i></a> OUTLET NAME<br>
                                <input class="td-search" value='{{outletName}}' id='outlet-name'>
                            </th>
                            <th rowspan="2" class="td-title  dropdown">
                                ADDRESS<br>

                            </th>
                            <th rowspan="2" class="td-title ">
                                SALES VOLUME<br>

                            </th>
                            <th rowspan="2" class="td-title ">
                                TABLE SHARE<br>

                            </th>
                            <th rowspan="2" class="td-title ">
                                CREATED BY SP ID<br>

                            </th>
                            <th colspan="2" class="td-title">
                                SUBMIT
                            </th>
                        </tr>
                        <form>
                            {% csrf_token %}
                            <tr>


                                {% comment %}
                                <th class="th-btns">
                                    <div>
                                        <button class="th-btn" type="button">Download</button>
                                    </div>
                                    <div>
                                        <button class="th-btn_all">Download All</button>
                                    </div>
                                </th> {% endcomment %}

                            </tr>
                            {% for outlet in list_outlet_False %}
                            <tr id={{outlet.id}}>
                                <td class="td-desc">{{ forloop.counter }}</td>
                                <td class="td-desc">{{outlet.0.created}}</td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.province}}" name="province" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment
                                    %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.ouletID}}" name="outletid" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment
                                    %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.type}}" name="type" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.area}}" name="area" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.outlet_Name}}" name="outlet_Name" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment
                                    %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.outlet_address}}" name="outlet_address" required> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button>                                    {% endcomment %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.1}}" name="sale-volume" disabled> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.2}}" name="table-share" disabled> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {% endcomment %}
                                </td>
                                <td class="td-desc">
                                    <input type="text" class="input-number" value="{{outlet.0.created_by_SP}}" name="created-by-sp" disabled> {% comment %} <button class="btn-send" id="volume-sale" type='button'><i class='bx bx-check'></i></button> {%
                                    endcomment %}
                                </td>
                                <td class="td-desc" id="td-search">

                                    <button class="btn-send" id="edit-approval" type='button'><i class='bx bx-check'></i></button>
                                </td>
                                <input type="hidden" name="outlet_id" value="{{outlet.0.id}}">
                            </tr>
                            {% endfor %}
                        </form>

                    </table>
                    <div class="row raw-data-sub">
                        <div class="leftbox">
                            {% comment %} <span class="title-menu">Export Report</span> {% endcomment %}

                        </div>
                        {% if is_campain_owner or is_hvn_vip %}
                        <div class="rightbox_kpi">

                            <a href="{% url 'outlet-approval' cam_id %}" class="btn-kpi" id='export'>Done</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- End Main Home -->
        </div>

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <script>
            $(document).on('click', '#edit-approval', function() {
                var array_outlet = [];
                var array_province = [];
                var array_outletid = [];
                var array_type = [];
                var array_area = [];
                var array_outlet_Name = [];
                var array_outlet_address = [];
                var array_outlet_id_system = []
                $('input[name = "province"]').each(function(i) {
                    console.log(this.value);
                    array_province.push($(this).val());
                });
                $('input[name = "outletid"]').each(function(i) {
                    console.log(this.value);
                    array_outletid.push($(this).val());
                });
                $('input[name = "type"]').each(function(i) {
                    console.log(this.value);
                    array_type.push($(this).val());
                });
                $('input[name = "area"]').each(function(i) {
                    console.log(this.value);
                    array_area.push($(this).val());
                });
                $('input[name = "outlet_Name"]').each(function(i) {
                    console.log(this.value);
                    array_outlet_Name.push($(this).val());
                });
                $('input[name = "outlet_address"]').each(function(i) {
                    console.log(this.value);
                    array_outlet_address.push($(this).val());
                });
                $('input[name = "outlet_id"]').each(function(i) {
                    console.log(this.value);
                    array_outlet_id_system.push($(this).val());
                });
                array_outlet.push(array_outlet_id_system);
                array_outlet.push(array_province);
                array_outlet.push(array_outletid);
                array_outlet.push(array_type);
                array_outlet.push(array_area);
                array_outlet.push(array_outlet_Name);
                array_outlet.push(array_outlet_address);

                const csrf = document.getElementsByName('csrfmiddlewaretoken');
                //const csrf = document.getElementsByName('csrfmiddlewaretoken')
                $.ajax({
                    type: 'POST',
                    url: "{% url 'edit_outlet_approval' %}",
                    headers: {
                        "X-CSRFToken": csrf[0].value
                    },
                    data: JSON.stringify({
                        "array_outlet": array_outlet
                    }),

                    processData: false,
                    contentType: false,
                    contentType: 'application/json',
                    dataType: "json",
                    success: function(resp) {
                        alert("Đã sửa thành công!!!")
                            // if (array_report_sale[2][0] != '') {
                            //     document.querySelector('input[name="brand-volume"]').value = array_report_sale[2][0];
                            // }
                    },
                    error: function(error) {
                        console.log(error)
                    }
                }); // end ajax
            }); // end click volume sale
        </script>

        <script>
            $(document).ready(function() {
                // Show hide popover
                $(".dropdown-nav").click(function() {
                    $(this).find(".dropdown-menu").slideToggle("fast");
                });
            });
            $(document).on("click", function(event) {
                var $trigger = $(".dropdown-nav");
                if ($trigger !== event.target && !$trigger.has(event.target).length) {
                    $(".dropdown-menu").slideUp("fast");
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                // Show hide popover
                $(".dropdown_raw").click(function() {
                    $(this).find(".dropdown-menu_raw").slideToggle("fast");
                });
            });
            $(document).on("click", function(event) {
                var $trigger = $(".dropdown_raw");
                if ($trigger !== event.target && !$trigger.has(event.target).length) {
                    $(".dropdown-menu_raw").slideUp("fast");
                }
            });
        </script>
        <script>
            $('#topheader .navbar-nav a').on('click', function() {
                $('#topheader .navbar-nav').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
        </script>
        <script>
            $('#leftMenu .sidebar a').on('click', function() {
                $('#leftMenu .sidebar').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
        </script>
        <script>
            /* ============Active Pagin============= */
            const room = document.querySelector('.pagin-table');
            const btns = document.querySelectorAll('.number-page');

            room.addEventListener('click', e => {

                btns.forEach(btn => {

                    if (btn.getAttribute('id') === e.target.getAttribute('id'))
                        btn.classList.add('active');
                    else
                        btn.classList.remove('active');
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                // Show hide popover
                $(".dropdown-logout").click(function() {
                    $(this).find(".dropdown-menu_logout").slideToggle("fast");
                });
            });
            $(document).on("click", function(event) {
                var $trigger = $(".dropdown-logout");
                if ($trigger !== event.target && !$trigger.has(event.target).length) {
                    $(".dropdown-menu_logout").slideUp("fast");
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                $("#local-city").change(function() {
                    var province_filter = encodeURI($(this).val());
                    var outlet_type = $("#type-outlet").val();
                    var url = $("#url").val();
                    $("#filter_province").attr("href", url + "?province_filter=" + province_filter + "&type=" + outlet_type);
                }); // end change province       
                $("#type-outlet").change(function() {
                    var outlet_type = $(this).val();
                    var province_filter = encodeURI($("#local-city").val());
                    var url = $("#url").val();
                    // $("#filter_province").attr("href",url + "?province_filter="+province_filter+"&type="+outlet_type);
                    $("#filter_type").attr("href", url + "?province_filter=" + province_filter + "&type=" + outlet_type);
                }); // end change outlet-type 
                $("#outlet-id").change(function() {
                    var date_filter = $("#date").val();
                    var outletID = $(this).val();
                    var url = $("#url").val();
                    $("#outlet_id_filter").attr("href", url + "?outlet_id=" + outletID);
                }); // end change outlet-id  outlet-name  
                $("#outlet-name").change(function() {
                    var date_filter = $("#date").val();
                    var outlet_name = encodeURI($(this).val());
                    var url = $("#url").val();
                    $("#outlet_name_filter").attr("href", url + "?outlet_name=" + outlet_name);
                }); // end change outlet-name  
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="{% static 'PC/js/chart.js' %}"></script>
        <script src="{% static 'PC/js/app.js' %}"></script>
</body>

</html>